
body {
    font-family: 'Lato', sans-serif;
}

.main {
    background: url('../images/Pope.png') no-repeat center top;
    background-size: cover;
    height: 800px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.person {
    min-width: 490px; 
    min-height: 550px; 
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    position: relative;
    /* background-size: cover; */
}


.person1 {
    background: url('../images/Kanye.png') no-repeat center top;
    position: relative;
}
.person2 {
    background: url('../images/Mark.png') no-repeat center top;
}
.person3 {
    background: url('../images/Cristina.png') no-repeat center top;
}
.person4 {
    background: url('../images/Malala.png') no-repeat center top;
}

.personLevel1{
    position: absolute;
    width:100%;
}

.title {
    position: absolute;
    bottom: 205px;
    font-size: 2.5em;
    padding-left: 45px; 
    margin: 0;
}

.date {
    position: absolute;
    top: 340px;
    font-size: 0.9em;
    padding-left: 45px;
    margin: 0;
}

.description {
    position: absolute;
    top: 370px;
    padding-left: 45px;
    margin: 0;
}

.thumbStatus {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 302px;
    background: rgba(28,187,180,0.5);
    padding: 4px;
    font-size: 24px;
}

.thumbUp {
    background: rgba(28,187,180,0.8);
}

.thumbDown {
    background: rgba(255,173,29,0.8);
}

.vote{
    position: absolute;
    bottom: 80px;
    padding-left: 45px;
    display: flex;
    align-items: center;
    width: 100%;
}

.btnUp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: rgba(28,187,180,0.8);
}

.btnDown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: rgba(255,173,29,0.8);
    margin-left: 10px;
}
.btnVote {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 86px;
    height: 32px;
}

.up{
    background: rgba(28,187,180,0.8);
    position: absolute;
    display: block;
    width: 30%;
    height: 50px;
    left: 0;
    bottom: 0;
    font-size: 30px;
}

.down{
    background: rgba(255,173,29,0.8);
    position: absolute;
    display: block;
    width: 70%;
    height: 50px;
    right: 0;
    bottom: 0;
    font-size: 30px;
    text-align: right;
}

.upText{
    display: block;
    padding: 8px;
}

.downText{
    display: block;
    padding: 8px;
}